<h2 id="edit">Edit Item: {{post.title}}</h2>

<form action="/posts/edit/{{post._id}}?_method=put" method="post">
  <p>
    <label>Change Song Title:</label>
    <input type="text" value="{{post.title}}" name="title"/>
  </p>
   <p>
    <label>Change Spotify Link:</label>
    <input type="text" value="{{post.link}}" name="link"/>
  </p>
   <p>
    <label>Change Who Posted:</label>
    <input type="text" value="{{post.poster}}" name="poster"/>
  </p>
  <input type="submit" value="Update" />
</form>
<form action="/{{post._id}}?_method=delete" method="post">
  <input type="submit" value="Remove">
</form>