<div class="indexpage">
    <div class="cardContainer">
        <div class="post">
        {{#each posts as |post|}}

            <a class="postCard" href="/posts/{{post.id}}"><h4 class="title">{{post.title}}</h4>
                <p><iframe src="{{post.link}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p>
                
          <h4 class="poster">Posted by: {{post.posted.name}} {{post.poster}}</h4>
          <hr>
                </a>
        
               
                   
            {{/each}}
          
        </div>
    </div>
</div>