<form id="search-form" >
    Search for a song: <input type="text" name="song" >
    <input type="submit" value="Search" id="search">
</form>

<ol>
    {{#each data.body.tracks.items as |items|}}
    <p><img src="{{items.album.images.[0].url}}" width="300"></p>

    <li class="songs">{{items.name}} 
        <a href={{items.preview_url}}>(click to preview)</a> 
        <p>Artist: {{items.album.artists.[0].name}}</p>
        <p>Post <a href="/posts/new">here</a></p>
        <p><a href={{items.external_urls.spotify}}>  Grab link</a></p></p></li>
    {{/each}}
</ol>


